{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": [
      "error", {
        "semi": true,
        "code": 150
      }
    ],
    "react/destructuring-assignment": "off",
    "no-param-reassign": "off",
    "no-nested-ternary": "off",
    "no-prototype-builtins": "off",
    "react/jsx-props-no-spreading": "off",
    "consistent-return": "off",
    "no-useless-return": "warn",
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "class-methods-use-this": "off",
    "func-names": "off",
    "jsx-a11y/label-has-associated-control": "off"
  }
}
